div#game {
  display: grid;
  grid-row-gap: 1px;
  grid-template-columns: Auto Auto;
  padding: 10px;
  font-size: 25px;
  text-align: left;
  grid-auto-flow: row;
  background-color: burlywood;

  border-collapse: collapse;
  border: 10px solid black;
}

div#result {
  display: grid;
  grid-row-gap: 1px;
  grid-template-columns: 120px 120px;
  padding: 10px;

  color: #2196f3;
  font-size: 25px;
  text-align: left;
  grid-auto-flow: row;
}
div#diverse {
  display: grid;
  grid-row-gap: 1px;
  grid-template-columns: auto auto;
  grid-template-rows: 27% auto 55%;
  padding: 10px;
  color: #2196f3;
  font-size: 25px;
  text-align: left;
  border-collapse: collapse;
  border: 10px solid black;
}
div#sum {
  grid-row-start: 2;
}
div#bonus {
  grid-row-start: 2;
}
div#total {
  grid-row-start: 4;
}

/*
Dice
*/
div#dice {
  display: grid;
  grid-template-columns: 40pt auto auto auto 40pt;
  grid-template-rows: 40pt auto 40pt auto 40pt;
  background-color: #2196f3;
  grid-row-gap: 5pt;
  border-collapse: collapse;
  border: 1px solid #000000;
}

div#diceArea {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 5;

  display: grid;
  grid-template-columns: 5pt auto auto auto auto auto 5pt;
  grid-template-rows: auto;
  background-color: burlywood;

  border-collapse: collapse;
  border: 1px solid #000000;
}

.dice {
  font-size: 50pt;
  text-align: center;
}

#turnIndicator {
  text-align: start;
  top: 50%;
}

#dice1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#dice2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

#dice3 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
#dice4 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}
#dice5 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}

#turnIndicator {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#rollButton {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
