div#game {
  display: grid;
  grid-row-gap: 1px;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

div.grid-itemA {
  padding: 10px;
  font-size: 25px;
  text-align: left;
  grid-column-start: 1;
  grid-column-end: span col4-start;
  grid-row-end: span 2;
}
div.grid-itemB {
  padding: 10px;
  font-size: 25px;
  text-align: left;
  grid-column-start: 1;
  grid-column-end: span col4-start;
  grid-row-end: span 2;
}

div#dice {
  display: grid;
  grid-template-columns: 40px auto auto auto auto auto 40px;
  grid-template-rows:  40px auto auto auto ;
  background-color: #2196F3;
  padding: 10px;
}

div#dice1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

div#dice2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

div#dice3 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
